/*
barchart.css
Minor programmeren; DataProcessing; intro D3
Orin Habich 10689508
*/

body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: CornflowerBlue ;
}

.bar:hover {
  fill: lightblue ;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 40px;
}

/* Creates a small lighning under the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 20px;
  width: 100%;
  line-height: 0.8;
  color: rgba(0, 0, 0, 0.8);
  content: "\1F5F2";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
