/*
  d3line.css
  Minor programmeren; DataProcessing; d3line
  Orin Habich 10689508
*/
body {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
