/*
  d3line.css
  Minor programmeren; DataProcessing; D3 Scatterplot
  Orin Habich 10689508
*/
body {
  font: 14px sans-serif;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
